// -----------------------------------------------------------------------------
// _button.scss
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// Variables
$button-padding: 14px 26px;

.btn {
	$self: &;

	position: relative;
	display: inline-flex;
	justify-content: center;
	background-color: $primary;
	padding: $button-padding;
	cursor: pointer;
	outline: none;
	font-size: 1rem;
	font-weight: bold;
	height: auto;
	user-select: none;
	line-height: 1;
	color: $white;

	// Tablet
	// =========================================================================

	@include media-tab {
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}
