// -----------------------------------------------------------------------------
// _hamburger.scss
// This file contains all styles related to the hamurger component.
// -----------------------------------------------------------------------------

.hamburger {
    $self: &;

    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    cursor: pointer;
    text-transform: none;
    border: 0;
    background-color: transparent;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    will-change: opacity, filter;

    // Box
	// =========================================================================

    &-box {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: $hamburger-width;
        //height: ($hamburger-height * 3) + ($hamburger-margin * 2) - 1px;
        padding: 24px;
        cursor: pointer;
    }

    // Lines
    // =========================================================================
    
    &-inner {
        top: 50%;
        display: block;
        margin-top: -2px;
        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
        transition-duration: 75ms;
    }

    &-inner,
    &-inner:before,
    &-inner:after {
        position: absolute;
        width: $hamburger-width;
        height: $hamburger-height;
        border-radius: $hamburger-border-radius;
        background-color: $hamburger-color;
        transition: transform .15s ease;
        will-change: transform;
    }

    &-inner:before,
    &-inner:after {
        content: "";
        display: block;
    }

    &-inner:before {
        top: $hamburger-margin;
        transition: top 75ms ease .12s, opacity 75ms ease;
    }

    &-inner:after {
        bottom: $hamburger-margin;
        transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55,.055,.675,.19);
    }

    // Checkbox
	// =========================================================================

    &-checkbox {
        display: none;
        position: absolute;
        top: -9999999px;
        left: -9999999px;
    }

    // Active
	// =========================================================================

    &-active #{$self}-inner,
    &-checkbox:checked ~ #{$self}-box #{$self}-inner  {
        transition-delay: .12s;
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: rotate(45deg);

        &:before {
            top: 0;
            transition: top 75ms ease,opacity 75ms ease .12s;
            opacity: 0;
        }

        &:after {
            bottom: 0;
            transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
            transform: rotate(-90deg);
        }
    }

	// Desktop
	// =========================================================================

	@include media-desk {
        display: none;
	}
}