/**
 * app.scss
 * Imports all files from abstracts, base, components, layout, pages & vendor
 * @author Ainsley Clark
 * @author URL:   https://www.ainsleyclark.com
 * @author email: info@ainsleyclark.com
 */

/* ====================
    Vendor
    ==================== */

/*  ====================
    Abstracts
    ==================== */

/* ====================
    Base
    ==================== */

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #ffffff;
  text-decoration: underline;
}

@font-face {
  font-family: "Nimbus Sans L";
  src: url("/assets/fonts/NimbusSanL-Bol.eot");
  src: local("Nimbus Sans L Bold"), local("NimbusSanL-Bol"), url("/assets/fonts/NimbusSanL-Bol.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/NimbusSanL-Bol.woff2") format("woff2"), url("/assets/fonts/NimbusSanL-Bol.woff") format("woff"), url("/assets/fonts/NimbusSanL-Bol.ttf") format("truetype"), url("/assets/fonts/NimbusSanL-Bol.svg#NimbusSanL-Bol") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Nimbus Sans L";
  src: url("/assets/fonts/NimbusSanL-Reg.eot");
  src: local("Nimbus Sans L Regular"), local("NimbusSanL-Reg"), url("/assets/fonts/NimbusSanL-Reg.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/NimbusSanL-Reg.woff2") format("woff2"), url("/assets/fonts/NimbusSanL-Reg.woff") format("woff"), url("/assets/fonts/NimbusSanL-Reg.ttf") format("truetype"), url("/assets/fonts/NimbusSanL-Reg.svg#NimbusSanL-Reg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 * Basic typography style for copy text
 */

html,
body {
  font-family: "Nimbus Sans L";
}

/* ====================
    Vendor
    ==================== */

/* ====================
    Components
    ==================== */

/* ====================
    Layout
    ==================== */

/* ====================
    Pages
    ==================== */

