// -----------------------------------------------------------------------------
// _typography.scss
// This file contains all type declerations (h1, h2, p etc) for whole site.
// -----------------------------------------------------------------------------

/**
 * Basic typography style for copy text
 */
html,
body {
    color: $copy-text;
    font-family: $font;
    font-size: 90%;
    font-kerning: normal;
	font-variant-ligatures: common-ligatures;

	@include media-tab {
		font-size: 95%;
	}

	@include media-desk {
		font-size: 100%;
	}

	@include media-hd {
		font-size: 102.5%;
	}
}

//@include fluid-type(320px, 1408px, 34px, 98px);

h1,
h2,
h3,
h4,
h5,
h6,
p {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}


/**
 * Basic styles for links
 */
 a {
    color: #ffffff; //!SET
    text-decoration: none;

    @include on-event {
        color: #ffffff; //!SET
        text-decoration: underline;
    }
}
